/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  margin-left: 125px;
  margin-right: 125px;
  line-height: 1.5;
  background-color: lightgreen;
}
.nav nav {
  width: 100%;
  margin: 0.625em;
  display: flex;
  box-sizing: border-box;
}
.nav nav ul {
  display: flex;
  justify-content: space-between;
  width: 95%;
  padding: auto;
  margin-top: auto;
  margin-bottom: 0;
  list-style-type: none;
}
@media (max-width: 500px) {
  .nav nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.nav nav ul a {
  font-size: 0.875em;
  font-family: Noto Sans, sans-serif;
  font-weight: 300;
  text-decoration: none;
  color: black;
}
.banner-text {
  display: flex;
  position: relative;
}
.banner-text .text {
  display: inline-block;
  position: absolute;
}
.banner-text .text h1 {
  font-family: Balsamiq Sans, cursive;
  font-size: 60px;
  color: white;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner-text img {
  width: 1000px;
  height: 300px;
  margin-bottom: 50px;
}
@media (max-width: 500px) {
  .banner-text img {
    width: 500px;
    height: 150px;
  }
}
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightcoral;
  margin-left: 250px;
  margin-right: 250px;
}
@media (max-width: 500px) {
  .about {
    width: 100%;
    display: flex;
    align-items: center;
    margin-left: 150px;
  }
}
.about h1 {
  font-family: Noto Sans, sans-serif;
  font-size: 30px;
}
.about h2 {
  font-family: Noto Sans, sans-serif;
  font-weight: 300;
}
.about p {
  font-family: Noto Sans, sans-serif;
  font-weight: 300;
  text-align: center;
  padding: 100px;
}
@media (max-width: 500px) {
  .about p {
    padding: 10px;
  }
}
.about h3 {
  font-style: italic;
}
.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}
@media (max-width: 500px) {
  .portfolio {
    width: 100%;
    display: flex;
    align-items: center;
    margin-left: 150px;
  }
}
.portfolio h1 {
  font-family: Noto Sans, sans-serif;
  font-weight: 700;
  padding: 50px;
}
.portfolio h3 {
  font-family: Noto Sans, sans-serif;
  font-weight: 300;
  font-style: italic;
}
.portfolio p {
  font-family: Noto Sans, sans-serif;
  font-weight: 300;
  text-align: center;
  padding: 20px;
}
.work {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.work h1 {
  font-family: Noto Sans, sans-serif;
  font-weight: 700;
}
.work h3 {
  font-family: Noto Sans, sans-serif;
  font-weight: 300;
}
.work p {
  font-family: Noto Sans, sans-serif;
  font-weight: 300;
  text-align: center;
}
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: yellowgreen;
  margin: 60px;
}
@media (max-width: 500px) {
  .contact {
    width: 100%;
    display: flex;
    align-items: center;
    margin-left: 150px;
  }
}
.contact h1 {
  font-family: Noto Sans, sans-serif;
  font-weight: 700;
  color: white;
}
.contact p {
  font-family: Noto Sans, sans-serif;
  font-weight: 300;
  text-align: center;
  padding: 10px;
}
.contact {
  border-top: solid 1px white;
  border-bottom: solid 2px white;
}
.about img {
  width: 100px;
  height: 100px;
  border-top-right-radius: 180px;
  border-top-left-radius: 180px;
  border-bottom-left-radius: 180px;
  border-bottom-right-radius: 180px;
  border: 2px solid black;
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: yellowgreen;
  margin: 60px;
  border-top: solid 1px white;
  border-bottom: solid 2px white;
}
@media (max-width: 500px) {
  footer {
    width: 100%;
    display: flex;
    align-items: center;
    margin-left: 150px;
  }
}
footer h1 {
  font-family: Noto Sans, sans-serif;
  font-weight: 700;
  color: white;
}
footer p {
  font-family: Noto Sans, sans-serif;
  font-weight: 300;
  text-align: center;
  padding: 10px;
}
